.#{$datepicker-class-name} {
    position: relative;    
}

.#{$calendar-class-name} {
    position: absolute;
    border-collapse: separate;
    padding: $calendar-padding;
    background: $calendar-bg-color;
    font-weight: $calendar-font-weight;
    @include border-radius ($border-radius);
    @include box-shadow(rgba(0,0,0,0.4) 0 1px 2px 0);

    &.top {
        bottom: 100%;
    }
    
    &.right {
        left: 100%;
        top: 0;
    }

    &.left {
        right: 100%;
        top: 0;
    }

    &.bottom {
        top: 100%;
    }

    thead {
        background: $calendar-header-bg; 
        @include border-top-radius($border-radius);
        @extend .align-center;
        a { text-decoration: none; }
        .previous, .next {
            vertical-align: middle;
            a { font-size: 1.25em; }
        }
        .previous { @include border-top-left-radius($border-radius); }
        .next { @include border-top-right-radius($border-radius); }
        .title {}
    }
    
    tbody {

        font-size: $calendar-font-size;

        &.month {

            .header {
                color: #aaa;
                border-bottom: 1px solid $grey-10;
            }

            td {
                @extend .align-center;
                
                a {
                    padding: 0 .6em;
                    display: block;
                    text-decoration: none;
                    @include border-radius($border-radius);
                    &:hover { background: $calendar-cellHover; }
                }

                &.active {
                    a { 
                        background: $calendar-active-bg;
                        color: $calendar-active-color; 
                    }
                }
            }
        }
    }
}